@(textForm: Form[String])(implicit messages: Messages)

@main("Analyse") {

<section id="content">
    <div>
        <article>
            <h1>Text analysieren</h1>
            <p>Hier einfach einen beliebigen Text einfügen und auf "Analysieren" drücken</p>
            <!--<textarea>Hier Text einfügen</textarea> -->
            @helper.form(action = routes.HomeController.analyze()){
                @helper.textarea(textForm("text"))
            }
            <p>
                <button type="submit">Analysieren</button>
            </p>
        </article>
    </div>
</section>
}