@(textForm: Form[TextToTag])(implicit request: MessagesRequestHeader)

@main("Analyse") {

<section id="content">
    <div>
        <article>
            <h1>Text analysieren</h1>
            <p>Hier einfach einen beliebigen Text einfügen und auf "Analysieren" drücken</p>
            @helper.form(action = routes.HomeController.validateTextForm()){
                @helper.textarea(textForm("text"))
                <div class="formActions">
                    <button type="submit">Analysieren</button>
                </div>
            }
        </article>
    </div>
</section>
}