@()

@main("Home") {

<section id = "content">
    <div class="w3-main" style="margin-left:20px">
        <div class="w3-container">
            <article class="w3-row w3-padding-64">
                <h1>Präsentation Bachelorarbeit</h1>
                <p>Diese Webanwendung dient zur Präsentation der Ergebnisse meiner Bachelorarbeit
                    <i>Implementierung einer Pipeline zur grammatikalischen Analyse von Texten in deutscher Sprache mit
                        Spark NLP </i> im WiSe 2020/21 an der HTW Berlin im Studiengang Angewandte Informatik.</p>
                <p>Unter dem Menü Punkt <i>Corpus</i> können Artikel aus dem News Corpus annotiert werden.</p>
                <p>Unter <i>Analyse</i> können eigene Texte (deutscher Sprache) annotiert werden.</p>
                <p>Weiter Infos zu der Arbeit und den verwendeten Technologien finden sich unter dem Menüpunkt <i>Infos</i>.</p>
            </article>
        </div>
    </div>
</section>

}