@()

@main("Home") {

<section id = "content">
    <div class="w3-main" style="margin-left:20px">
        <div class="w3-container">
            <article class="w3-row w3-padding-64">
                <h1>Präsentation Bachelorarbeit</h1>
                <p>Diese Webanwendung dient zur Präsentation der Ergebnisse meiner Bachelorarbeit
                    <i>Implementierung einer Pipeline zur grammatikalischen Analyse von Texten in deutscher Sprache mit
                        Spark NLP </i> im WiSe 2020/21 an der HTW Berlin im Studiengang Angewandte Informatik</p>
            </article>
        </div>
    </div>
</section>

}