@()
@main("About") {
    <section id="content" >
        <div class="w3-main" style="margin-left:20px">
            <div class = "w3-container">
                <article class="w3-row w3-padding-64">
                    <h1>Infos zum Projekt</h1>
                        <h2>News Corpus</h2>
                            <p>Der verwendete Corpus stammt aus dem Projekt <i>I-News Pipeline</i> von der HTW Berlin
                                und enthält Zeitungsartikel drei verschiedener Online Zeitungen: <i>taz.de</i>,
                                <i>sueddeutsche-zeitung.de</i> und <i>heise.de</i>
                            </p>
                        <h2>Annotationen</h2>
                            <p>Das Pipeline-Modell wurde mithilfe von Spark NLP trainiert. Anhand des Models wurden die
                                Nachrichtenartikel auch annotiert. Das Annotieren innerhalb des Anwendung basiert auf eben
                                diesem Model. Allerdings wird hier zum annotieren eine Spark NLP-LightPipeline verwendet.
                            </p>
                        <h2>Projekt-Code und weitere Informationen</h2>
                            <p> <a href="https://github.com/pizzicariella/POSPipelineGerman">Spark NLP-Projekt</a> </p>
                            <p> <a href="https://github.com/pizzicariella/PlayDataPresentation">Play-Webprojekt</a> </p>
                        <h2>Kontakt:</h2>
                            <p>Marie Ghazi - s0558478@@htw-berlin.de</p>
                </article>
            </div>
        </div>
    </section>
}